* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  font-family: "Roboto Condensed", sans-serif;
}
.hamburger {
  display: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  line-height: 1.6;
}
.left-side {
  width: 20%;
  background-color: #1fb157;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  line-height: 1.7;
  word-spacing: 2;
  padding: 28px 16px;
  height: 100vh;
}
.left-side > h2 {
  padding-top: 80px;
  text-transform: capitalize;
  font: bold 2em "Roboto Condensed";
}
.image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  padding: 15px;
}
.first {
  color: #fff;
}
.icon span i {
  padding-left: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.link a {
  display: block;
  color: #fff;
  padding: 0.8em;
  text-decoration: none;
  font-weight: 600;
}
div button {
  background-color: #427037;
  color: #fff;
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.3em;
}
#main-side {
  width: 80%;
  display: flex;
  flex-flow: column;
  line-height: 1.7;
  word-spacing: 2;
  padding-left: 40px;
}
.header {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  line-height: 1.7;
  word-spacing: 2;
  background-color: #edebe9;
}
.header h2 {
  text-transform: capitalize;
}
ul li {
  display: inline-flex;
}
.content-image img {
  width: 80%;
}

.para {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
@media (max-width: 826px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    line-height: 1.6;
  }
  .left-side {
    width: 30%;
    background-color: #1fb157;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    line-height: 1.7;
    word-spacing: 2;
    padding: 28px 16px;
    height: 100%;
  }
  #main-side {
    width: 70%;
    display: flex;
    flex-flow: column;
    line-height: 1.7;
    word-spacing: 2;
    padding-left: 40px;
  }
}
@media (max-width: 580px) {
  .container {
    display: block;
  }
  .hamburger {
    display: flex;
    justify-content: flex-start;
  }

  .left-side {
    display: block;
    width: 100%;
  }
  .section {
    display: none;
  }
  .main-side {
    display: block;
    width: 100%;
    margin-top: 1em;
  }
  .header {
    display: block;
    text-align: left;
    width: 100%;
  }
  .header h2 {
    font-size: 1.5em;
  }
  .content-image img {
    display: block;
    width: 100%;
  }

  .para {
    display: block;
    width: 100%;
  }
  .nav-toggleShow {
    display: block;
  }
}
