* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ceccc;
  font-family: sans-serif;
  line-height: 1.6;
  word-spacing: 2;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form {
  width: 26rem;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px;
  border-radius: 4px;
  margin: 25px auto;
  padding: 1rem 5rem 1rem 1.5rem;
}
.form-control {
  background-color: #eee;
  border: none;
  width: 80%;
}

.submit {
  background-color: #8ceccc;
  color: #fff;
}
.submit:hover {
  color: green;
}
.text-right {
  background-color: rgb(78, 9, 9);
  border: none;
  border-top: 1px solid rgb(201, 197, 197);
  width: 100%;
  padding: 2rem 3.3rem;
  text-align: right;
  margin: 1rem -5rem -1rem -1.5rem;
}

@media (max-width: 576px) {
  .form-group {
    width: 80%;
  }
  .button {
    width: 80%;
  }
}
