* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ceccc;
}
.row {
  background-color: #fff;
  width: 40%;
  justify-content: center;
  height: max-content;
  border-radius: 4;
  margin: 6em auto;
}
.form-control {
  background-color: #eee;
  border: none;
  width: 100%;
}
i {
  background-color: none;
  border: none;
}
.submit {
  background-color: #8ceccc;
  color: #fff;
}
